<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1">
    <title>index</title>
</head>

<body>
    <div id="root">
    </div>
    <footer id="footer" style="position: fixed; bottom: 0;">
        playlist {{ version }}
    </footer>
</body>
{% csrf_token %}
{% load static %}

<script>
    const date = new Date(document.lastModified);
    let js_src_path = "{% static "/app.bundle.js" %}" + "?id=" + date.getTime()

    const script = document.createElement('script');
    script.setAttribute(
        'src',
        js_src_path,
    );
    console.log(js_src_path)
    document.head.appendChild(script);
</script>

<!-- <script src="{% static " /app.bundle.js" %}"></script> -->

</html>