<!DOCTYPE html>
<html lang="en">
{% csrf_token %}
{% load static %}

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <title>PL Youtube</title>
</head>

<body>
    <div id="root">
    </div>
    <footer id="footer" style="position: fixed; bottom: 0;">
        v-{{ version }}
    </footer>
</body>
<!-- {% csrf_token %}
{% load static %} -->

<!-- <script src="static/youtube/app.bundle.js?id={{version}}"></script> -->

<script src="{% static 'youtube/app.bundle.js' %}?={{ version }}"></script>

</html>